{:paths   ["src"]
 :deps    {org.clojure/clojure         {:mvn/version "1.11.1"}
           org.clojure/tools.namespace {:mvn/version "1.4.4"}
           rewrite-clj/rewrite-clj     {:mvn/version "1.1.47"}
           healthsamurai/matcho        {:mvn/version "0.3.10"}}
 :aliases {:test  {:extra-paths ["test"]
                   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                   :main-opts   ["--report" "stderr"
                                 "-m" "cognitect.test-runner"]
                   :exec-fn     cognitect.test-runner.api/test}
           :test1 {:exec-fn   com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
                   :exec-args {:dirs #{"src"}}}}}
